.highlights-only p {
    visibility: hidden;
}

.highlights-only mark,
.highlights-only mark * {
    visibility: visible !important;
}

.highlights-only p:not(:has(mark)) {
  display: none;
}

.highlights-only p:has(mark) {
  margin: 1em .8em;
}

.highlights-only mark {
    display: block;
    border-radius: 4px;
    padding: .5em;
    background: transparent;
    color: rgb(254, 235, 201);
}

.highlights-only mark a {
    color: orange;
    font-weight: normal;
}

.highlights-only span.hide-around-highlight {
    display: none;
}

/* 🔶 Status indicator */
.highlights-only::before {
    content: "🖍️️ highlights-only mode activated...";
    display: block;
    background: yellow;
    color: black;
    padding: 4px 8px;
    font-weight: bold;
    margin-bottom: 11px;
    text-align: center;
    border-radius: 4px;
}
