.highlights-only-enabled::before {
    content: "🖍️️ no (substantial) highlights below...";
    display: block;
    background: lightblue;
    color: black;
    padding: 4px 8px;
    font-weight: bold;
    margin-bottom: 11px;
    text-align: center;
    border-radius: 4px;
}
